.dsn-slot-notifier-widget {
  background: #8cc63f;
  display: block;
  min-height: 50px;
  width: 200px;
  z-index: 99999;
  position: absolute;
  right: 0;
  top: 10%;
  box-shadow: 1px 1px 32px;
  padding: 12px 10px;
  border-radius: 5px;
}

.dsn-slot-notifier-widget > p {
  text-align:center;
}

.dsn-slot-notifier-widget > p > img {
  height: 40px !important;
}

.dsn-slot-notifier-widget > h3 {
  font-weight: bold !important;
  font-size: 12px !important;
  color: #000 !important;
}
