.dsn-slot-notifier-widget {
  background: #8cc63f;
  display: block;
  min-height: 50px;
  width: 300px;
  z-index: 99999;
  position: absolute;
  right: 0;
  top: 10%;
  box-shadow: 1px 1px 32px;
  padding: 12px 10px;
  border-radius: 5px;
}

.dsn-slot-notifier-widget > p {
  text-align:center;
}
