.dsn-main {
  height: 150px;
  width: 200px;
}

.dsn-text {
  text-align: center;
  font-weight: bold;
}

.dsn-btn {
  width: 100px;
  margin-top: 10px;
  margin-left: 50px;
  background: #8CC63F;
  color: #000;
}
